{
  "main": {
    "stack_name": "LIVE",
    "rotate_secrets_frequency": "0"
  },
  "api": {
    "language": "nodejs"
  },
  "hls": {
    "hostname": "dbpxwurvuzeq6.cloudfront.net",
    "url_path": "/out/v1/2e4f2642321341c2a1ebdf3766d4e38c/index.m3u8",
    "ttl": "+60m"
  },
  "dash": {
    "hostname": "dbpxwurvuzeq6.cloudfront.net",
    "url_path": "/out/v1/23f4e0d3307a4494b70bda62226990d4/index.mpd",
    "ttl": "+60m"
  },
  "demo": {
    "username": "abcd",
    "password": "abcd"
  }
}