{
  "main": {
    "stack_name": "LIVE",
    "rotate_secrets_frequency": "24h",
    "rotate_secrets_pattern": "00 12 ? * * *"
  },
  "api": {
    "language": "nodejs"
  },
  "hls": {
    "hostname": "",
    "url_path": "",
    "ttl": "+3h"
  },
  "dash": {
    "hostname": "",
    "url_path": "",
    "ttl": "+24h"
  },
  "demo": {
    "username": "",
    "password": ""
  }
}