{
  "main": {
    "stack_name": "LIVE",
    "rotate_secrets_frequency": "24h",
    "rotate_secrets_pattern": "00 12 ? * * *"
  },
  "api": {
    "language": "nodejs"
  },
  "hls": {
    "hostname": "aaaa",
    "url_path": "rrrr",
    "ttl": "+3h"
  },
  "dash": {
    "hostname": "rrrrr",
    "url_path": "zzzzz",
    "ttl": "+24h"
  },
  "demo": {
    "username": "abcd",
    "password": "abcd"
  }
}